.card, .enemyCard, .cardInDeck{
    width: 95.5px;
    height: 100%;
    border-radius: 5px;
    transition: .5s;
    display: inline-block;
}


.card{
    background: transparent center / cover no-repeat;
    margin-left: 1px;
}
.enemyCard, .cardInDeck{
    background: linear-gradient(180deg, #59B4C8 0%, #6B74CB 100%);
    margin-right: 1px;
}
