html,body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, rgba(2, 122, 208, 0.63) 0%, rgba(2, 1, 65, 0.63) 100%);
    overflow: scroll;
}
.playerOneCards, .playerTwoCards{
    width: 581px;
    height: 132px;
    border: 1px solid #D0E3FF;
    border-radius: 5px;
}
.playerTwoCards{
    
}
.gameboard, .deck {
    width: 99px;
    height: 130px;
    border: 1px solid #D0E3FF;
    border-radius: 5px;
    display: inline-block;
}

.notification{
    display: flex;
    place-items: center;
    position: absolute;
    height: 150px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    left: 39%;
    top: 40vh;
}
.notification p{
    margin: auto;
}

/* Responsive starts here */

@media screen and (max-width: 1200px) {
	.container {
        width: 100%;
        
	}
}

@media screen and (max-width: 1199px) {
	.container {
        width: 100%;
        
	}
}

@media screen and (max-width: 991px) {
	.container {
        width: 100%;
        padding: 0 15px;
        height: 104vh;
	}
}

@media screen and (max-width: 767px) {
	.container {
        width: 100%;
        padding: 0 15px;
    }
    .playerOneCards, .playerTwoCards{
        width: 659px;
        height: 130px;
    }
}

@media screen and (max-width: 575px) {
	.container {
		width: 93%;
        padding: 0 15px;
        height: 102vh;
    }
    .playerOneCards, .playerTwoCards{
        width: 100%;
        height: 130px;
        border: 1px solid #D0E3FF;
        border-radius: 5px;
    }
    .notification{
        left: 50px;
        top: 50px;
    }
}
@media screen and (max-width: 424px){
    .container {
		width: 93%;
        padding: 0 15px;
        height: 103vh;
    }
    .playerOneCards, .playerTwoCards{
        width: 100%;
        height: 130px;
        border: 1px solid #D0E3FF;
        border-radius: 5px;
    }
    .notification{
        left: 50px;
        top: 50px;
    }
}